<code>
<a href="/usuarios/create">+Create</a>
|<a href="/usuarios/index">List</a>
|<a href="/usuarios/update/<%= model.id %>">Update</a>

<h2>View <%=model.email%></h2>
<ul>
<li>nombres:<%=model.nombres %></li>

<li>Apellidos:<%=model.apellidos %></li>


<li>UserName:<%=model.userName %></li>

<li>Password:<%=model.password %></li>

<li>Email:<%=model.email %></li>
</ul>
</code>